.features-section {
  padding: 80px 0;
  background: #fff;
}
.features-container{
  max-width: 1600px;
  margin: 100px auto;
}
.features {
  display: flex;
  align-items: stretch;
}

.feature-card {
  padding: 20px;
  border-right: 1px solid #898989; 
}

.feature-card:last-child {
  border-right: none;
}

.feature-title {
  font-size: 24px;
  font-weight:400;
  margin-bottom: 16px;
  color: #000;
  line-height: 1.4;
}

.feature-description {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin: 0;
}

@media (max-width: 768px) {
  .features-grid {
    flex-direction: column;
  }
  
  .feature-card {
    border-right: none;
    border-bottom: 1px solid #898989;
    padding-bottom: 30px;
  }
  
  .feature-card:last-child {
    border-bottom: none;
  }
}