.transformation-cta {
  background: #ffd1dc;
  border-radius: 16px;
  margin: 40px auto;
  width: 1600px;
  height: 720px;
}
.cta-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  width: 900px;
}
.cta-content {
  display: flex;
}

.cta-title {
  font-size: 64px;
  font-weight: 900;
  color: #a52a2a;
  margin-bottom: 24px;
  line-height: 1.2;
}

.cta-description {
  font-size: 28px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 32px;
  max-width: 700px;
}
.btn-cta {
    background-color: white;
    color: black;
    width: 575px;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .cta-image img {
    border-radius: 12px;
  }

@media (max-width: 768px) {
  .transformation-cta {
    margin: 20px 0;
    padding: 40px 20px;
  }

  .cta-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .cta-title {
    font-size: 32px;
  }

  .cta-description {
    font-size: 16px;
  }
}
