.auth-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../../assets/auth_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 88px;
}

.auth-form-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}