

.categories-container {
  max-width: 1400px;
  margin: 100px auto;
  padding: 0 20px;
}

.categories {
  display: flex;
  gap: 16px;
  justify-content: center;
  }

.category-card {
  position: relative;
  height: 341px;
  width: 456px;
  border-radius: 12px;
  padding: 30px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-category-title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  color: #fff;
}
.category-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
} 
.category-arrow {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.home-category-description {
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  margin: 0;
  max-width: 80%;
}

.categories-cta {
  text-align: center;
  margin-top: 30px;

}
