.welcome-container {
  background-image: url('../assets/back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.welcome-content {
  max-width: 1400px;
  text-align: left;
  color: black;
}

.welcome-title {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  max-width: 900px;
}

.welcome-subtitle {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  max-width: 725px;
}

.welcome-button {
  background: #FFA9AC;
  color: white;
  border: none;
  padding: 1rem 1.2rem;
  font-size: 1.125rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: 600;
}

.welcome-button:hover {
  background: #fa8589;
  transform: translateY(-2px);
}

@media (max-width: 480px) {
  .welcome-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .welcome-subtitle {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .welcome-button {
    padding: 0.875rem 1rem;
    font-size: 1rem;
    width: 100%;
    max-width: 280px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .welcome-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .welcome-subtitle {
    font-size: 1.125rem;
    margin-bottom: 2rem;
  }

  .welcome-button {
    padding: 0.875rem 1.5rem;
    font-size: 1.0625rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .welcome-title {
    font-size: 3rem;
    margin-bottom: 1.75rem;
  }

  .welcome-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  .welcome-button {
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
  }
}
